version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
    labels:
      - 'yarn'
      - 'dependencies'
    open-pull-requests-limit: 10
